body#body_frame {
    /*width: 950px;*/
    margin: 0 auto 0 10px;

    font-family: "Karla", Helvetica, arial, sans-serif;
}

/*
 * used to clear the float css
 */
div#myclear {
    clear: both;
}

.myleft {
    float: left;
}

.myright {
    float: right;
}


/* -----------------------------------------------------------
 *
 * header frame
 *
 * -----------------------------------------------------------
 */
div#header_frame {
    width: 1024px;
    height: 80px;
    background: white;
}

div#header_frame_hmp {
    width: 1024px;
    height: auto;
    background-image:url("../images/site_bg.jpg");
    background-repeat:repeat-x;
}

/*
 * jgi logo div top left corner
 */
div#jgi_logo {
    height: 90px;
    background: white;
    /*float: left;*/
    display: inline-block;
}

div#cart {
    font-size: 13px;
    text-align: right;
    width: 900px;
    /*
    float: left;
    background: white;
    margin: 20px 0 0 10px;
    padding: 5px 0 5px 5px;
    border-radius: 4px;
    height: 30px;
    width: 100px; */
}

div#quicksearch {
    width: 200px;
    float: left;
    font-size: 10px;
    margin: 10px 0 0 20px;
}

/*
 * logout div for er and mer systems
 */
div#login {
    margin-top: 10px;
    float: left;
    max-width: 200px;
    font-size: 12px;
    color: black;
}

div#login a{
    color: black;
}


/* -----------------------------------------------------------
 *
 * img logo div - image just above the menu bar
 *
 * -----------------------------------------------------------
 */
div#jgi_logo2 {
    /*padding-top: 5px;*/
    width: 1024px;
    background: white;
    height: 50px;
}

div#jgi_logo2 img {
    width: 1024px;
    height: 53px;
}

/* -----------------------------------------------------------
 *
 * main page - home page and non-home pages
 *
 * -----------------------------------------------------------
 */
div#container {
    height: auto;
    background: white;
    display: block;
    border: none;
    min-width: 2000px;
}

/*
 * home page - img arrows bar above the stats table and contain page
 */
div#arrow {
    margin-bottom: -5px;
}

div#arrow .statsarrow {
    width : 200px;
    height : 61px;
}


div#arrow .bluearrow {
    width : 725px;
    height : 50px;
    padding-bottom: 11px;
}

/*
 * home page - left column div where the stats table is located
 */
div#left {
    width: 200px;
    background: #CAE7EE;
    display: block;
    margin: 0 5px 0 0;
    border: 0px;
    vertical-align: top;
    display: inline-block;
}

div#left h2 {
    color: #333333;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

div#left table {
    margin: 0 5px 0 5px;
    width: 190px;
    border-spacing: 0;
}

div#left th, div#left td {
    /*border-top: 4px solid #CAE7EE;*/
    font-size: .7em;
    line-height: 1.5em;
    padding: 2px;
}

div#left a {
    color: #000099;
    text-decoration: underline;
}

div#training {
    margin: 0 0 0 0;    
    background: white;
    padding: 0 0 10px 10px;
}

/*
 * training icon and links below the stats table
 */
div#training p {
    color: #990000;
    font-size: 0.75em;
    line-height:1.25em;
    width: 165px;
}

/* -----------------------------------------------------------
 *
 * home page content
 * http://www.css3.info/preview/rounded-border/
 * ----------------------------------------------------------- 
 */
div.content {
    width: 600px;
    border-radius : 10px; 
    border: 2px solid #6699CC;

    display: inline-block;
    background: white;
    margin-left: 30px;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    line-height: 1.4em;       
    vertical-align: top;
}

div.contentABC {
    border: none;
    width: auto;
}

/*
 * image to the right
 */
div.content img.genomes {
    float: right;
    margin: 0 0 0 10px;
}

div.content p {    
    font-size: 12px;
    line-height: 1.4em;
    /*-moz-width: 570px; /* FF */
    /*width: 570px !important;  /* FF need to set such that 950 > 200 + this */
    /*width: 400px; /* IE for other browsers */

}

div.content table p {    
    width: 450px; /* for m, er and mer systems */
}


/* -----------------------------------------------------------
 *
 * non - home page content
 *
 * ----------------------------------------------------------- 
 */
div#content_other {
    height: auto;
    background: white;
    display: inline-block;
    margin: 10px 0 10px 10px;
}

/*
 the td here is not nested and is general to all td
*/
div#content_other p, td {
    font-size: 12px;
    line-height: 1.4em;
}



/* for charts */
div#content_other div#righttop {
    top: 250px;
    left: 250px;
    position: absolute;
    background: white; 
} 
div#examples {
    position: absolute; 
    top: 325px; 
    left: 550px;
}

/*
 * breadcrumbs frame - where the follow info lives:
 * - breadcrumbs
 * - loading / loaded messages
 * - page help link
 */
div#breadcrumbs_frame {
    background: white;
    margin: 0 0 10px 10px;
    width: 1024px;
}

/*
 nesting styles within one div
*/
div#breadcrumbs_frame div#breadcrumbs {
    height: 100%;
    width: 60%;
    float: left;
    font: 11px Arial, Helvetica, sans-serif;
}

div#breadcrumbs_frame div#loading {
    height: 100%;
    width: 30%;
    float: left;
    background: white;
    color: #6699cc; 
    font-style: italic; 
    font-size: .75em; 
    line-height: 1.3em;
}

div#breadcrumbs_frame div#page_help {
    position: relative;
    height: 100%;
    width: 10%;
    float: left;
    background: white;
}

/*
 * error frame - hidden by default but to display set an in-line style:
 *  style="display: block" to override the default css
 */
div.message_frame, div.error_frame {
    width: 900px;
    background: white;
    border: 2px solid red;
    padding: 5px 5px 5px 5px;
    margin: 0 0 10px 0;
    display: none;
    color: black;
    font-size: 15px;       
    /*-moz-border-radius : 5px;*/
    border-radius : 5px;
    /*
    background-image: url(../images/announcementsIcon.gif);
    background-repeat: no-repeat;
    */
}

div.error_frame {
    width: 900px;
    color: red;
}


/*
 message icon
*/
.message_img, div.error_frame img, div.message_frame img {
    float: left;
    padding: 0 0.3em 0 0;
    width: auto;
    border: 0 none;
    vertical-align: top;
}

div.working_area {
    border: 1px solid gray; 
    width: 650px; 
    height: 150px; 
    overflow: auto; 
    border-style: inset;   
}

/* -----------------------------------------------------------
 *
 * page footer frame - copyright
 *
 * -----------------------------------------------------------
 */
#footer_frame {
    font-size: 11px;
    border-top: 1px solid #999999;
    /*background-color: #e9e9e9;*/
    padding-top: 5px;
    margin-top: 5px;
    width: 1024px;
}

#footer_inner_left {
    float: left;
    padding-left: 5px;
    color: #5a5a5a;
}

#footer_inner_left a{
    color: #5a5a5a;
    text-decoration: underline;
}


#footer_inner_right a {
    text-decoration: none;
}

#footer_inner_right {
    float: right; 
}


/*
padding:25px 50px 75px 100px;

    * top padding is 25px
    * right padding is 50px
    * bottom padding is 75px
    * left padding is 100px
*/


.shadow {
    /*-moz-box-shadow: 2px 2px 4px #888888;*/
    -webkit-box-shadow: 2px 2px 4px #888888;
    box-shadow: 2px 2px 4px #888888;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
    /* For IE 5.5 - 7 */
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888');*/
}

.shadow_full {
    /*-moz-box-shadow: 0 0 5px #888;*/
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;    
}

div#ani_parent {
   width: 1024px; 
}

div#ani_left {
	float: left; 
	width:500px;
}

div#ani_right {
    float: left; left;
    padding-left: 20px;
}

div#news {
   min-height: 50px;
   font-size: 11px;
   padding-right: 1px;
}
span#news2 {
    font-size: 14px;
    color: #336699;
}

.newsFieldset {
    border: 2px solid #a1a1a1;
    border-radius: 10px;
    width: 250px;
    font-size: 12px;
    margin-left: 10px;
   vertical-align: top;
   display: inline-block;   

}


.newsLegend {
    font-size: 20px;
    color: #336699;
    font-weight: bold;
}

div#newsReleases {
	width:950px;
}

div#content_other div#newsReleases p   {
	font-size: 14px;
}

/*
abc home page divs
*/
div.largeWidthDiv {
	width:1000px;
}

div#bcHomeDiv {
   border: 3px solid #32cd32;
    border-radius: 10px;
    display: inline-block;
    height: 600px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 450px;	
}

div#smHomeDiv {
    border: 3px solid #00ced1;
    border-radius: 10px;
    display: inline-block;
    height: 600px;
    margin-left: 10px;
    overflow: auto;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 470px;
}

div.abcHomePageText {
	width: 950px;
}

div.abcHomePageText h1 {
    text-align:center;
}

div.abcHomePageText p {
    text-align:justify; 
    text-justify:inter-word;
}


/* abc vertical nav bar menu
*/
nav.navbar {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    text-align: left;
    width: 150px;
    background-color: #3AB270;
    float: left;
}

div.navbar {
    display: inline-block;
    width: 150px;
    background-color: #3AB270;
    vertical-align: top;
}

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.navbar li.toplevel {
    font-size: 12px;
    font-weight: bold;
    padding-left: 4px;
    height: 40px; 
    vertical-align: middle; /* to align text*/
    display: table-cell;    /* to align text*/
}

nav.navbar li {
    font-size: 11px;
}

nav.navbar a {
    display: block;  
}

nav.navbar a:link, nav.navbar a:visited {
    background-color: #BDE0D2;
    color: black;
    padding: 4px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    height: 17px; 
}

nav.navbar a:hover, nav.navbar a:active {
    background-color: rgb(95,197,141); /*rgb(136,215,169); #34A468;*/
    color: white;
    font-weight: bold;
     /* padding-top: 3px; */   
}

div#configtab {
    display:inline-block; 
    width:300px; 
    vertical-align: top; 
    font-size:12px;
    padding-right: 10px;
}

#plus_minus1, #plus_minus2, #plus_minus4 {
    vertical-align: -4px;
}