#jgi-header {
	margin: 0;
	padding: 0;
	height: 70px;
	width: 2000px;
}

#jgi-logo {
	float: left;
}

.jgi-nav {
	display: block;
	overflow: hidden;
}

.jgi-nav ul {
	margin-top: 10px;
	margin-left: 50px;
	padding: 0;
}

.jgi-nav ul li {
	display: inline-block;
	list-style-type: none;
	font-family: "Karla", Helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: underline;
	padding-left: 10px;
	list-style-position: inside;
}

.jgi-nav ul li a {
	color: #5a5a5a;
}

.jgi-nav ul li a:hover {
	color: #fdba4d;
}

.abcbox {
    display: inline-block;

    vertical-align: text-top;  
}